TRADES_IMAGE=ghcr.io/mdshihabullah/real-time-crypto-price-predictor/trades:beta-30-05-2025-2da7526
CANDLES_IMAGE=ghcr.io/mdshihabullah/real-time-crypto-price-predictor/candles:beta-30-05-2025-2da7526
TECHNICAL_INDICATORS_IMAGE=ghcr.io/mdshihabullah/real-time-crypto-price-predictor/technical_indicators:beta-30-05-2025-2da7526
STRUCTURIZR_IMAGE=ghcr.io/mdshihabullah/real-time-crypto-price-predictor/structurizr:beta-22-04-2025-94df373
KUBECONFIG_PATH=do-k8s-fra1-kubeconfig.yaml