TRADES_IMAGE=ghcr.io/mdshihabullah/real-time-crypto-price-predictor/trades:beta-21-04-2025-94df373
CANDLES_IMAGE=ghcr.io/mdshihabullah/real-time-crypto-price-predictor/candles:beta-21-04-2025-94df373
TECHNICAL_INDICATORS_IMAGE=ghcr.io/mdshihabullah/real-time-crypto-price-predictor/technical_indicators:beta-27-04-2025-94df373
STRUCTURIZR_IMAGE=ghcr.io/mdshihabullah/real-time-crypto-price-predictor/structurizr:beta-22-04-2025-94df373
KUBECONFIG_PATH=k8s-rwml-do-kubeconfig.yaml